@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

/* for rnd  */
.resize-content img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.resize-content *:hover ~ .resize-handle-wrapper,
.resize-content *:focus ~ .resize-handle-wrapper {
  opacity: 1;
}

.resize-handle-wrapper:hover,
.resize-handle-wrapper:focus {
  opacity: 1;
}

.resize-handle-wrapper {
  opacity: 0;
}
/* for rnd  */

/* for scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* for scrollbar */
